<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"> 
<head>
<title>Home Page Third Project</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="page-container">
<div class="header">
    <h2 style="color:white;">
        Third Project
    </h2>
</div>
<div id="sessnavdiv" class="nav_menu">
	  <div class="columnA">
	   <form id="search" method="post">
	   <input type="search" id="searchword" name="searchword" placeholder="Search Product by Title" onclick="fn_search()">
	   <button id="search_btn" class="buttons">Search</button>
	   <button class="buttons" action:"/inventory">Show All</button>
	   </form>
   </div>
   
   <div class="columnB" style="text-align: right; float: right;"><label th:text="'Logged in as: ' + ${session.entername}" style="text-align: left;"></label>
       <span style="padding-right: 20px;"></span>
	   <button style="text-align: right;" class="buttons"><a id="logoutbtn" href="/logout">Logout</a></button>
   </div> 
</div><br>


<div class="centre-content">
<div style="width: 100%; padding-bottom: 20px;">
<div class="tab">
  <button id="openMainTabBtn" class="tablinks" onclick="fn_openMainTab()">Inventory</button>
  <button id="openInsTabBtn" class="tablinks" onclick="fn_openInsTab()">Add new product</button>
  <button id="UpdateTab" class="tablinks" hidden>Update Product</button>
</div>

<div id="Inventory" class="tabcontent">
  <table>
	 <thead>
		 <tr>
		 <th>Product Code</td>
		 <th>Product Name</th>
		 <th>Lot Number</td>
		 <th>Quantity</th>
		 <th>Production Date</td>
		 <th>End Date</td>
		 <th>Update</td>
		 <th>Delete</td> 
		 </tr>
	 </thead> 
	 <tbody>
		 <tr th:each="inv : ${list}">
			 <td th:text="${inv.prodcode}"></td>
			 <td th:text="${inv.prodname}"></td>
			 <td th:text="${inv.lotno}"></td>
			 <td th:text="${inv.qty}"></td>
			 <td th:text="${inv.proddate}"></td>
			 <td th:text="${inv.enddate}"></td>
			 <td><button class="buttons"><a th:href="@{/updateForm(prodcode=${inv.prodcode})}">Update</a></button></td>
             <td><button class="buttons"><a th:href="@{/delete(prodcode=${inv.prodcode})}">Delete</a></button></td>
		 </tr>
	 </tbody>
	 
	  
  </table>
</div>

<div id="NewProduct" class="tabcontent" style="margin-left: 115px;" hidden>
	
   <div id="insertFormDiv" style="font-size: smaller;">
   <form id="insertForm" action="/insert" class="form-container">
    <label>Product Name</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Enter Product Name" name="insprodname" required>

    <label>Lot Number</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Enter Lot Number" name="inslotno" required>
    
    <label>Quantity</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="number" placeholder="Enter Quantity" name="insqty" required>
    
    <label>Production Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" placeholder="Enter Production Date" name="insproddate" required>
    
    <label>End Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" placeholder="Enter End Date" name="insenddate" required>
    
    <button type="submit" class="btn">Submit</button>
  </form>
  </div>
</div>

<div id="UpdProduct" class="tabcontent" hidden>
	
   <div id="updateFormDiv" style="font-size: smaller;">
   <form id="updateForm" action="/update" class="form-container">
    <label>Product Name</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" th:text="${prodname}" name="updprodname" required>

    <label>Lot Number</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Update Lot Number" th:value="${lotno}" name="updlotno" required>
    
    <label>Quantity</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Update Quantity" th:value="${qty}" name="updqty" required>
    
    <label>Production Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Update Production Date" th:value="${proddate}" name="updproddate" required>
    
    <label>End Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Update End Date" th:value="${enddate}" name="updenddate" required>
    
    <button type="submit" class="btn" onclick="fn_hideUpdTab()">Submit</button>
  </form>
  </div>
</div>

</div>
</div>

<div class="footer">
    Hanna's third little Spring Boot Project using MyBatis and Thymeleaf
</div>

</div>

<script th:inline="javascript">

  $("#openMainTabBtn").on("click", function fn_openMainTab(){ 
	  $("#NewProduct").hide();
	  $("#UpdProduct").hide();
	  $("#Inventory").show();
	  $("#UpdateTab").hide()});
	  //$("#Inventory").css("display","none")});
  
  $("#openInsTabBtn").on("click", function fn_openInsTab(){ 
	  $("#Inventory").hide();
	  $("#NewProduct").show();
	  $("#UpdateTab").hide()});
	 // $("#NewProduct").css("display","none")});
	 
  $("#UpdTabBtn").on("click", function fn_updateTab(){ 
	  $("#Inventory").hide();
	  $("#UpdProduct").show();
	  $("#UpdateTab").show()});
	  
  $("#UpdTabBtn").on("click", function fn_hideUpdTab(){ 
	  $("#UpdateTab").show()});  
 
  $("#search_btn").on("click", function fn_search(){ 
   	$("#search").attr("action", "/search");
   	 $("#search").submit()});
	  
</script>

</body>
</html>