<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"> 
<head>
<title>Home Page Third Project</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

<div class="page-container">
<div class="header">
    <h2 style="color:white;">
        Third Project
    </h2>
</div>
<div id="sessnavdiv" class="nav_menu">
    <div class="columnA">
		<form id="search" method="post">
	   <input type="search" id="searchword" name="searchword" placeholder="Search Product by Title" onclick="fn_search()">
	   <button id="search_btn" class="buttons">Search</button>
	   <button class="buttons" action:"/inventory">Show All</button>
	   </form>
	</div>
	<div class="columnB" style="text-align: right; float: right;"><label th:text="'Logged in as: ' + ${session.entername}" style="text-align: left;"></label>
       <span style="padding-right: 20px;"></span>
	   <button style="text-align: right;" class="buttons"><a id="logoutbtn" href="/logout">Logout</a></button>
   </div> 
</div><br>


<div class="centre-content">
<div style="width: 100%";>
<div class="tab">
  <button id="upOpenMainTabBtn" class="tablinks"><a href="/returnhome">Inventory</a></button>
  <button id="upOpenInsTabBtn" class="tablinks" onclick="fn_openInsTabUp()">Add new product</button>
  <button id="upUpdateTab" class="tablinks">Update Product</button>
</div>

<div id="InventoryUp" class="tabcontent" hidden> 
</div>

<div id="NewProductUp" class="tabcontent" style="margin-left: 115px;" hidden>
	 <div id="insertFormDivUp" style="font-size: smaller;">
   <form id="insertFormUp" action="/insert" class="form-container">
	   
    <label>Product Name</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Enter Product Name" id="insprodname" name="insprodname" required>

    <label>Lot Number</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" placeholder="Enter Lot Number" id="inslotno" name="inslotno" required>
    
    <label>Quantity</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="number" placeholder="Enter Quantity" id="insqty" name="insqty" required>
    
    <label>Production Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" placeholder="Enter Production Date" id="insproddate" name="insproddate" required>
    
    <label>End Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" placeholder="Enter End Date" id="insenddate" name="insenddate" required>
    
    <button type="submit" class="btn">Submit</button>
  </form>
  </div>
</div>

<div id="UpdProduct" class="tabcontent" style="margin-left: 270px;">	
   <div id="updateFormDiv" style="font-size: smaller;">
   <form id="updateForm" action="/update" class="form-container">
	<input id="prodcode" name="prodcode" th:value="${prodcode}" hidden>
    <label>Product Name</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" th:placeholder="${updprodname}" name="updprodname" required>

    <label>Lot Number</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" th:placeholder="${updlotno}" name="updlotno" required>
    
    <label>Quantity</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="text" th:placeholder="${updqty}" name="updqty" required>
    
    <label>Production Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" th:placeholder="${updproddate}" name="updproddate" required>
    
    <label>End Date</label>
    <input style="margin-bottom: 10px; padding: 10px;" type="date" th:placeholder="${updenddate}" name="updenddate" required>
    
    <button type="submit" class="btn">Submit</button>
  </form>
  </div>
</div>

</div>
</div>

<div class="footer">
    Hanna's third little Spring Boot Project using MyBatis and Thymeleaf
</div>

</div>

<script th:inline="javascript">
	
  $("#upOpenInsTabBtn").on("click", function fn_openInsTabUp(){ 
	   $("#upUpdateTab").hide()
	  $("#UpdProduct").hide()
	  $("#NewProductUp").show()});
	  
	   $("#search_btn").on("click", function fn_search(){ 
   	$("#search").attr("action", "/search");
   	 $("#search").submit()});
	  
	
</script>

</body>
</html>