<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Code Taken</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>
<div id="insmain" class="changemaindiv">
  <div id="mstIns" class="changeformdiv">
   
      <fieldset style="display:inline-block; padding:25px">
        <legend>Code Taken</legend>
        <p>Sorry, that code already exists; please choose a different one</p>
		<!--<input type="submit" value="OK" onclick="/insertMst">-->
		<button><a href="/insertMstForm">OK</a></button>
      </fieldset>
 
  </div>

</div> 
</body>
</html>