<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"> 
<head>
  <title>New Comment</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="grid">
<div>
		<button><a href="/backHome">Back to main page</a></button>
	</div>
  <div id="Comm" class="changeformdiv">
    <form id="commform" autocomplete="on" action="/addComment" method="post">
      <fieldset style="display:inline-block; padding:25px">
        <legend>New Comment</legend>
        <label style="margin-right: 10px;"></label><input id="boardid" type="text" name="boardid" th:value="${boardid}" hidden></br>
        <label style="margin-right: 10px;">Content</label><textarea id="comm_content" class="contentbox" type="text" name="comm_content"></textarea>
		<input type="submit" value="Upload">
      </fieldset>
    </form>
  </div>
</div>
</div>
</body>
</html>