<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"> 
<head>
  <title>New Entry</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div id="Ins" class="changeformdiv">
    <form id="insform" autocomplete="on" action="/insert" method="post">
      <fieldset style="display:inline-block; padding:25px">
        <legend>New Entry</legend>
        <label style="margin-right: 10px;">Title</label><input id="title" type="text" name="title"></p>
        <label style="margin-right: 10px;">Content</label><textarea id="content" class="contentbox" type="text" name="content"></textarea>
		<input type="submit" value="Upload">
      </fieldset>
    </form>
  </div>

</div>
</body>
</html>