<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <div class="formdiv">
    <form id="loginform" action="/login" method="post">
      <fieldset style="display:inline-block; padding:25px">
        <legend>Login</legend>
        <label style="margin-right: 10px;">User ID</label><input id="enterid"type="text" name="enterid"></p>
        <label style="margin-right: 10px;">Password</label><input id="enterpw"type="password" name="enterpw"></p>
		<input type="submit" value="Login">
		<p th:block th:if="${error=='wrongpw'}"> The userid and password don't match :( </p>
		<p>
		<br>Don't have an account yet?
		<button><a href="/registerForm">Register</a></button>
		</p>
      </fieldset>
    </form>
  </div>


</body>
</html>