<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>
<body>

  <div class="formdiv">
	  <fieldset style="display:inline-block; padding:25px">
      <legend>Register</legend>
      <form id="registerform"  autocomplete="on">
        <label style="margin-right: 10px;">User ID</label><input id="enterid" type="text" name="enterid"></p>
         <label style="margin-right: 10px;">Name</label><input id="entername"type="text" name="entername"></p>
        <label style="margin-right: 10px;">Password</label><input id="enterpw"type="password" name="enterpw"></p>
        <label style="margin-right: 10px;">Confirm Password</label><input id="confirmpw" type="password" name="confirmpw"></p>
		<input type="button" th:onclick="fn_submit()" value="Register">
    </form>
    <p th:block th:if="${error=='pwdiff'}"> Those passwords don't match :( </p>
    <p th:block th:if="${error=='usertaken'}"> That username already exists :( </p>
    </fieldset>
  </div>


<script th:inline="javascript">
	
function fn_submit(){ 

       $("#registerform").attr("action", "/register");
	 $("#registerform").submit();
	
  }
  
  </script>
</body>
</html>