<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"> 
 
<head>
    <title>Main Page Second Project</title>
    <meta charset="utf-8">
    
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
</head>

<body>
	
<div class="logindiv">
	<fieldset>
	<label th:text="'Logged in as: ' + ${session.enterid}" style="text-align: left;"></label>
	<button style="text-align: right"><a id="logoutbtn" href="/logout">Logout</a></button>
	</fieldset>
  </div>
  
  <div class="editdiv">
	<fieldset>
	<form id="main" name="" autocomplete="on" method="post">
 		<input type="search" id="searchword" name="searchword" value="Search by Title" onclick="fn_search()" >
		<button id="search_btn">Search</button>
        <button><a href="/insertForm">Add an Entry</a></button>
 </form>
	</fieldset>
  </div>

<div class="maintablediv">
	<table>
     <thead>
	<tr id="noDelError" th:block th:if="${error=='nodelete'}">
     	 <td colspan="5" style="text-align: right; background-color: rgb(104, 194, 249);">You can't delete other people's posts!</td>
     	 <td style="background-color: rgb(104, 194, 249);"><button id="okd" onclick="fn_okd">OK</button></td>
     </tr>	
     <tr id="noUpdError" th:block th:if="${error=='noupdate'}">
     	 <td colspan="5" style="text-align: right; background-color: rgb(104, 194, 249);">You can't update other people's posts!</td>
     	 <td style="background-color: rgb(104, 194, 249);"><button id="oku" onclick="fn_oku">OK</button></td>
     </tr> 
    <tr>
		 <th hidden>Board ID</th>
         <th>Title</th>
         <th>Posted By</th>
         <th>Posted On</th>
         <th></th>
         <th></th>
         <th></th>
     </tr>
     
     </thead>
     <tbody>
     <tr th:each="board : ${list}">
		 <td th:text="${board.boardid}" hidden>ID</td>
		 <td th:text="${board.title}">Title</td>
		 <!--td th:text="${board.content}" hidden>Content</td-->
		 <td th:text="${board.reg_id}">Posted By</td>
         <td th:text="${board.reg_date}">Posted On</td>
         <td><button><a th:href="@{/detailview(boardid=${board.boardid})}">See more</a></button></td>
         <td><button><a th:href="@{/updateForm(boardid=${board.boardid}, reg_id=${board.reg_id})}">Update</a></button></td>
         <td><button><a th:href="@{/delete(boardid=${board.boardid}, reg_id=${board.reg_id})}">Delete</a></button></td>
     </tr> 
     </tbody>
     </table>
</div>




</body>

<script th:inline="javascript">
	
$("#search_btn").on("click", function fn_search(){ 
   	$("#main").attr("action", "/search");
   	 $("#main").submit();
  });
	
$("#okd").on("click", function fn_okd(){
    $("#noDelError").hide();
    $("#okd").click();
  });
  
  $("#oku").on("click", function fn_oku(){
    $("#noUpdError").hide();
    $("#oku").click();
  });
  
</script>




</html>